<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.AuthMapper">

    <resultMap id="BaseResultMap" type="com.bobochang.warehouse.entity.Auth">
            <id property="authId" column="auth_id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="authName" column="auth_name" jdbcType="VARCHAR"/>
            <result property="authDesc" column="auth_desc" jdbcType="VARCHAR"/>
            <result property="authGrade" column="auth_grade" jdbcType="INTEGER"/>
            <result property="authType" column="auth_type" jdbcType="CHAR"/>
            <result property="authUrl" column="auth_url" jdbcType="VARCHAR"/>
            <result property="authCode" column="auth_code" jdbcType="VARCHAR"/>
            <result property="authOrder" column="auth_order" jdbcType="INTEGER"/>
            <result property="authState" column="auth_state" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        auth_id,parent_id,auth_name,
        auth_desc,auth_grade,auth_type,
        auth_url,auth_code,auth_order,
        auth_state,create_by,create_time,
        update_by,update_time
    </sql>
    <!--
  //根据用户id查询用户所有权限(菜单)的方法
  public List<Auth> findAllAuth(int userId)
-->
    <select id="findAllAuth" resultMap="BaseResultMap">
        select distinct t3.*
        from user_role t1,
             role_auth t2,
             auth_info t3
        where t1.role_id = t2.role_id
          and t2.auth_id = t3.auth_id
          and t3.auth_state = 1
          and t1.user_id = #{userId}
    </select>

    <!--
	  //查询所有状态正常的权限(菜单)的方法
	  public List<Auth> getAllAuth()
	-->
    <select id="getAllAuth" resultType="com.bobochang.warehouse.entity.Auth">
        select * from auth_info where auth_state = 1
    </select>

    <!--
      //根据角色id删除给角色已分配的所有权限(菜单)
      public int delAuthByRoleId(Integer roleId);
    -->
    <delete id="delAuthByRoleId">
        delete from role_auth where role_id = #{roleId}
    </delete>

    <!--
      //添加角色权限(菜单)关系的方法
      public void insertRoleAuth(Integer roleId, Integer authId);
    -->
    <insert id="insertRoleAuth">
        insert into role_auth (role_id, auth_id) values(#{param1}, #{param2})
    </insert>
</mapper>
