<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.ContractRatioMapper">

    <resultMap id="BaseResultMap" type="com.bobochang.warehouse.entity.ContractRatio">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="contractId" column="contract_id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="materialId" column="material_id" jdbcType="INTEGER"/>
            <result property="ratio" column="ratio" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contract_id,product_id,
        material_id,ratio
    </sql>
    <insert id="saveContractRatio">
        insert into contract_ratio values (null,#{contractId},#{productId},#{materialId},#{newRatio})
    </insert>
    <select id="selectProductByContractId" resultType="java.lang.Integer">
        select distinct product_id from contract_ratio where contract_id = #{contractId}
    </select>
    <select id="selectRatioByOutStore" resultType="com.bobochang.warehouse.entity.ContractRatio">
        select * from contract_ratio where contract_id = #{contractId} and product_id = #{productId}
    </select>
</mapper>
