<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.CustomerMapper">

    <resultMap id="BaseResultMap" type="com.bobochang.warehouse.entity.Customer">
            <id property="customerId" column="customer_id" jdbcType="INTEGER"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="concat" column="concat" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        customer_id,customer_name,concat,
        phone,address,is_delete,
        create_by,create_time,update_by,
        update_time
    </sql>
    <insert id="insertCustomer">
        insert into customer values(
                                     null, #{customerName},
                                     #{concat}, #{phone}, #{address}, 0, null, null, null, null
                                 )
    </insert>
    <update id="updateCustomerById">
        update customer set
                          customer_name = #{customerName}, address = #{address},
                          concat = #{concat}, phone = #{phone}
        where customer_id = #{customerId}
    </update>

    <select id="getAll" resultType="com.bobochang.warehouse.entity.Customer">
        select * from customer
    </select>
    <select id="selectCustomerCount" resultType="java.lang.Integer">
        select count(*) from customer
        <where>
            <if test="customerName != null and customerName != ''">
                and customer_name like concat('%', #{customerName}, '%')
            </if>
            <if test="address != null and address != ''">
                and address like concat('%', #{address}, '%')
            </if>
            <if test="concat != null and concat != ''">
                and concat like concat('%', #{concat}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
        </where>
    </select>
    <select id="selectCustomerPage" resultType="com.bobochang.warehouse.entity.Customer">
        select * from customer
        <where>
            <if test="customer.customerName != null and customer.customerName != ''">
                and customer_name like concat('%', #{customer.customerName}, '%')
            </if>
            <if test="customer.address != null and customer.address != ''">
                and address like concat('%', #{customer.address}, '%')
            </if>
            <if test="customer.concat != null and customer.concat != ''">
                and concat like concat('%', #{customer.concat}, '%')
            </if>
            <if test="customer.phone != null and customer.phone != ''">
                and phone like concat('%', #{customer.phone}, '%')
            </if>
        </where>
        limit #{page.limitIndex}, #{page.pageSize}
    </select>
</mapper>
