<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.FaceModelMapper">

    <resultMap id="BaseResultMap" type="com.bobochang.warehouse.entity.FaceModel">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="faceModel" column="face_model" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,face_model
    </sql>

    <!--    按照用户id查找用户的人脸模型-->
    <select id="searchFaceModel" parameterType="int" resultType="String">
        SELECT face_model FROM face_model
        WHERE user_id=#{userId}
    </select>

    <!--    判断是否有人脸模型-->
    <select id="haveFace" parameterType="int" resultType="Integer">
        SELECT id FROM face_model
        WHERE user_id=#{userId}
        LIMIT 1
    </select>

    <!--    添加用户的人脸模型-->
    <insert id="insert" parameterType="com.bobochang.warehouse.entity.FaceModel">
        INSERT INTO face_model
        SET user_id=#{userId},
            face_model=#{faceModel}
    </insert>

    <!--    删除用户的人脸模型-->
    <delete id="deleteFaceModel" parameterType="int">
        DELETE FROM face_model
        WHERE user_id=#{userId}
    </delete>
</mapper>
