<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobochang.warehouse.mapper.WorkRegionMapper">

    <resultMap id="BaseResultMap" type="com.bobochang.warehouse.entity.WorkRegion">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,region_name
    </sql>
    <select id="queryAllWorkRegion" resultType="com.bobochang.warehouse.entity.WorkRegion">
        select * from work_region
    </select>
</mapper>
